<div class="container">
  <div class="row py-5 text-center justify-content-center">
    <div class="col-12 col-lg-5 text-capitalize">
      <h1 class="font-weight-bold">404</h1>
      <p class="font-weight-bold">Page cannot be found.</p>
      <span>Oh no! An unexpected error occurred, which we’ll fix right away. Please try again shortly. </span>
      <div class="mt-5">
        <a class="btn btn-outline-dark"
           routerLink="/">GO TO HOME PAGE</a>
      </div>
    </div>
  </div>
</div>
