<div class="row border-bottom border-dark py-2">
  <div class="col-1">
    <button class="btn btn-icon"
            [ngClass]="{'expanded': expanded}"
            (click)="toggle(order.id)">
      <i class="bi bi-arrow-right-square"></i>
    </button>
  </div>
  <div class="col-1">{{order.id}}</div>
  <div class="col-4">{{shop.address}}</div>
  <div class="col-3">{{order.orderDate | date:'shortDate'}}</div>
  <div class="col-3">${{order.totalPrice}}</div>
</div>
<div id="{{order.id}}"
     *ngIf="expanded">
  <div class="pt-4 pl-3 pr-0">
    <div class="row">
      <div class="col-11 offset-1">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
