<div class="row">
  <div class="col-12 col-md-4 col-lg-3 my-3">
    <div class="card-sl rounded-3 d-flex flex-column h-100">
      <div class="d-flex justify-content-center pt-3">
        <img class="card-image image-max-width rounded-top"
             src="" />
      </div>
      <div class="font-size-lg fw-bold p-3">
        Name
      </div>
      <div class="d-flex justify-content-between p-3">
        <button class="btn btn-outline-dark px-3">Edit</button>
        <button class="btn btn-outline-danger px-3">Delete</button>
      </div>
    </div>
  </div>
</div>
