<div class="container my-5">
  <div class="card overflow-hidden border-0">
    <div class="row" *ngIf="product">
      <div class="col-sm-12 col-md-6 border-end">
        <div class="d-flex flex-column">
          <img src="{{product.photoFileName}}">
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="p-3 position-relative">
          <div class="d-flex justify-content-between align-items-center">
            <h3>{{product.name}}</h3>
          </div>
          <div class="mt-2 pr-3 content">
            <p>{{product.description}}</p>
          </div>
          <h3>${{product.price}}</h3>
          <div class="mt-4">
            <span class="fw-bold">Characteristics : </span>
            <div class="mt-1 text-center" *ngFor="let property of product.characteristics">
              <span>{{property.name}}: {{property.value}}</span>
            </div>
          </div>
          <div class="buttons text-center flex-row mt-5">
            <button class="btn btn-outline-dark" (click)="addOrderProduct()">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
