<div class="shadow-sm-md p-2">
  <div class="modal-header">
    <button class="btn"
            type="button"
            aria-label="Close"
            (click)="activeModal.dismiss()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>

  <div class="modal-body text-transform-none">
    <form name="form"
          class="input-group"
          #orderForm="ngForm"
          (ngSubmit)="orderForm.form.valid && order.next(model)"
          novalidate>
      <div class="container">
        <div class="form-group required">
          <label for="countrySelect">Select address: </label>
          <select class="form-control"
                  id="addressInput"
                  type="text"
                  name="address"
                  [(ngModel)]="model.shopId"
                  #address="ngModel"
                  [ngClass]="{ 'is-invalid': orderForm.submitted && address.invalid }"
                  required>
            <option *ngFor="let shop of shopsModal"
                    [ngValue]="shop.id">{{shop.address}}</option>
          </select>
          <div class="invalid-feedback"
               *ngIf="orderForm.submitted && address.invalid">address is required.</div>
        </div>
        <div class="form-group d-flex justify-content-end">
          <span>Subtotal: {{totalPrice}}</span>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col-12">
            <button type="submit"
                    class="btn btn-outline-dark w-100 mt-3 py-2">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
