.card-sl {
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}
.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
}
.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
}
.card-button {
    padding: 10px 0;
    width: 100%;
    background-color: #212529;
    border-radius: 0 0 8px 8px;
}
.card-button:hover {
    background-color: #353B41;
    color: #fff;
}
