/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.font-size-lg {
  font-size: 1.125rem;
}
.font-size-sm {
  font-size: 0.875rem;
}
.image-max-width {
  max-width: 100%;
}