<!-- <div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let dataItem of ProductList">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="/assets/images/{{dataItem.photoFileName}}" alt="Card image cap">
        <h5 class="card-title">{{dataItem.name}}</h5>
        <p class="card-text">{{dataItem.price}}</p>
        <a [routerLink]="['/product/',dataItem.id]" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div> -->

<div class="container" style="margin-top:50px;">
  <div class="row ">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" 
          *ngFor="let dataItem of ProductList">
          <div class="card-sl">
              <div class="card-image">
                  <img src="/assets/images/{{dataItem.photoFileName}}" />
              </div>
              <div class="card-heading">
                {{dataItem.name}}
              </div>
              <div class="card-text">
                  ${{dataItem.price}}
              </div>
              <a class="card-button"
                  [routerLink]="['/product/',dataItem.id]"> Purchase</a>
          </div><br>
      </div>
  </div>  
  