<h6>EDIT</h6>

<app-loadable [active]="isLoading">
  <form name="form"
        class="form-striped"
        (ngSubmit)="userEditForm.form.valid && onUserEditSubmit()"
        #userEditForm="ngForm"
        novalidate>
    <div class="container">
      <div class="row">
        <label for="NameInput"
               class="col-md-4 bg-dark text-white py-3">Name</label>
        <div class="col-md-8 bg-dark py-3">
          <input id="NameInput"
                 name="Name"
                 type="text"
                 class="form-control"
                 [(ngModel)]="profile.name"
                 #Name="ngModel"
                 [ngClass]="{ 'is-invalid': userEditForm.submitted && Name.invalid }"
                 minlength="2"
                 maxlength="100"
                 pattern="[A-Za-zÀ-ÿ' -]+"
                 required />
          <div class="invalid-feedback"
               *ngIf="userEditForm.submitted && Name.invalid">
            <div *ngIf="Name.errors?.required">Name field is required.</div>
            <div *ngIf="Name.errors?.minlength">Name must be at least 2 characters long.</div>
            <div *ngIf="Name.errors?.maxlength">Name must not have more than 100 characters.</div>
            <div *ngIf="Name.errors?.pattern">Invalid characters used in Name.</div>
          </div>
        </div>



        <label for="emailInput"
               class="col-md-4 bg-light py-3">Email</label>
        <div class="col-md-8 bg-light py-3">
          <input id="emailInput"
                 type="email"
                 class="form-control-plaintext"
                 [value]="profile.email || ''"
                 disabled />
        </div>
      </div>

      <div class="d-flex justify-content-between mt-2">
        <button type="button"
                class="btn btn-outline-secondary px-5"
                (click)="location.back()">Back</button>
        <button type="submit"
                class="btn btn-outline-dark px-5">Save</button>
      </div>

    </div>
  </form>
</app-loadable>
