<h6>CHANGE PASSWORD</h6>

<form name="form"
      class="form-striped"
      #changePasswordForm="ngForm"
      [bothMatch]="['newPassword', 'confirmNewPassword']"
      (ngSubmit)="changePasswordForm.form.valid && onChangePasswordSubmit()"
      novalidate>
  <div class="container">
    <div class="row">
      <label for="oldPasswordInput"
             class="col-12 col-md-4 bg-dark text-white py-3">Current Password</label>
      <div class="col-12 col-md-8 bg-dark py-3">
        <input id="oldPasswordInput"
               name="oldPassword"
               type="password"
               class="form-control"
               [(ngModel)]="changePasswordModel.oldPassword"
               #oldPassword="ngModel"
               [ngClass]="{ 'is-invalid': changePasswordForm.submitted && oldPassword.invalid }"
               minlength="6"
               maxlength="15"
               required />
        <div class="invalid-feedback"
             *ngIf="changePasswordForm.submitted && oldPassword.invalid">
          <div *ngIf="oldPassword.errors?.required">The Current Password field is required.</div>
          <div *ngIf="oldPassword.errors?.minlength">The Current Password must be at least 6 characters long.</div>
          <div *ngIf="oldPassword.errors?.maxlength">The Current Password must not have more than 15 characters.</div>
        </div>
      </div>

      <label for="newPasswordInput"
             class="col-12 col-md-4 bg-light py-3">New Password</label>
      <div class="col-12 col-md-8 bg-light py-3">
        <input id="newPasswordInput"
               name="newPassword"
               type="password"
               class="form-control"
               [(ngModel)]="changePasswordModel.newPassword"
               #newPassword="ngModel"
               [ngClass]="{ 'is-invalid': changePasswordForm.submitted && newPassword.invalid }"
               minlength="6"
               maxlength="15"
               required />
        <div class="invalid-feedback"
             *ngIf="changePasswordForm.submitted && newPassword.invalid">
          <div *ngIf="newPassword.errors?.required">The New Password field is required.</div>
          <div *ngIf="newPassword.errors?.minlength">The New Password must be at least 6 characters long.</div>
          <div *ngIf="newPassword.errors?.maxlength">The New Password must not have more than 15 characters.</div>
        </div>
      </div>

      <label for="confirmNewPasswordInput"
             class="col-12 col-md-4 bg-dark text-white py-3">New Password Confirm</label>
      <div class="col-12 col-md-8 bg-dark py-3">
        <input id="confirmNewPasswordInput"
               name="confirmNewPassword"
               type="password"
               class="form-control"
               [(ngModel)]="changePasswordModel.confirmNewPassword"
               #confirmNewPassword="ngModel"
               [ngClass]="{ 'is-invalid': changePasswordForm.submitted && confirmNewPassword.invalid }"
               minlength="6"
               maxlength="15"
               required />
        <div class="invalid-feedback"
             *ngIf="changePasswordForm.submitted && confirmNewPassword.invalid">
          <div *ngIf="confirmNewPassword.errors?.required">
            The New Password Confirm field is required.
          </div>
          <div *ngIf="confirmNewPassword.errors?.minlength">
            The New Password Confirm must be at least 6 characters long.
          </div>
          <div *ngIf="confirmNewPassword.errors?.maxlength">
            The New Password Confirm must not have more than 15 characters.
          </div>
          <div *ngIf="confirmNewPassword.errors?.mustMatch">
            The New Password and New Password Confirm do not match.
          </div>
        </div>
      </div>
    </div>

    <div class="my-3 text-danger"
         *ngIf="state === ActionState.Failed">
      <p class="font-weight-bold">{{error.title}}</p>
      <p class="text-muted">{{error.detail}}</p>
    </div>

    <div class="d-flex justify-content-between mt-2">
      <button type="button"
              class="btn btn-outline-secondary px-5"
              (click)="location.back()">Back</button>
      <button type="submit"
              class="btn btn-outline-dark px-5">Save</button>
    </div>

  </div>
</form>
