<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-xl">
    <a class="navbar-brand" 
        routerLink="">
        All
    </a>
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#collapseTarget">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" 
          id="collapseTarget">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"
            *ngFor=" let dataItem of CategoriesList">
          <a class="nav-item nav-link" 
              [routerLink]="['category/',dataItem.id]" 
              routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact: true}">
              {{dataItem.name}}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mr-right" 
          *ngIf='!isLoggedIn'>
        <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" 
                data-bs-toggle="dropdown">
                Login
            </a>
            <div class="dropdown-menu dropdown-menu-end p-3"
                  id="dropdown-login">
                <form class="form-horizontal">
                    <input class="form-control login" 
                            type="text" 
                            name="Email" 
                            placeholder="Email" 
                            matInput #email /><br>
                    <input class="form-control login" 
                            type="password" 
                            name="password"
                            placeholder="Password" 
                            matInput #password/><br>
                    <button class="auth-button d-flex justify-content-center pb-2" 
                            type="submit" 
                            name="submit" 
                            (click)='login(email.value, password.value)'>
                            Login
                    </button>
                </form>
            </div>
        </li>
        <li class="nav-item">
          <a  class="nav-link dropdown-toggle" 
              data-bs-toggle="dropdown">
              Register
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mr-right" 
          *ngIf='isLoggedIn'>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
              data-bs-toggle="dropdown">
              <i class="bi bi-person"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end p-3" 
                id="dropdown-account">
            <form class="form-horizontal" 
                  method="post">
              <a class="dropdown-item" 
                  routerLink="/orders">
                  <i class="bi bi-card-list"></i> 
                  Orders
              </a>
              <a class="dropdown-item" 
                  routerLink="/orders">
                  <i class="bi bi-cart4"></i> 
                  Cart
              </a><br>
              <button class="btn btn-primary" 
                      type="submit" 
                      name="submit"  
                      (click)='logout()'>
                      Logout
              </button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
